# Dependency directories
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System files
.DS_Store
Thumbs.db

# Optional: Exclude the yarn.lock file if you prefer to generate fresh lock files in each environment
# yarn.lock
